

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="baidu-site-verification" content="RdmyDyqUQF" />
  <meta name="sogou_site_verification" content="qLiE3IBX95"/>
  <meta name="360-site-verification" content="5d0353840bd91c62a99cc567e229dcf3" />
  <meta name="keywords" content="史浩,史浩的博客,个人博客,个人网站,技术分享,duke" />   <!--用户告诉搜索引擎你的网页关键字是什么-->
  <meta name="description" id="description" content="史浩|史浩的博客|django搭建个人博客|如何建立自己的网站" />      <!--网站内容描述，用来告诉搜索引擎你网站的主要内容-->
  <meta name="author" content="史浩" />         <!--标注网页的作者-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>史浩的博客</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="icon" href="/static/images/7.ico" type="image/x-icon" />

  <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="/static/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <link rel="stylesheet" type="text/css" href="/static/css/code.css">
  <!--DaoVoice接入-->
  <script>(function(i,s,o,g,r,a,m){i["DaoVoiceObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;a.charset="utf-8";m.parentNode.insertBefore(a,m)})(window,document,"script",('https:' == document.location.protocol ? 'https:' : 'http:') + "//widget.daovoice.io/widget/15a4e0ff.js","daovoice")
  </script>

</head>
<body>
<canvas id="canvas"></canvas>
<header>
  <div class="container">
    <div class="logo_title" data-scroll-reveal="enter right and move 20px over 1s">走在海边，走在月下</div>
  </div>
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-scroll-reveal="enter bottom and move 20px over 1s after 1s" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#index_menu" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="index_menu">
        <ul class="nav navbar-nav" data-scroll-reveal="enter bottom and move 20px over 0.7s after 0.3s">
          <li><a href="/"><span>首页</span><span>Home</span></a></li>
          <li><a href="/about/"><span>关于我</span><span>About</span></a></li>
          <li><a href="/learn/0/1"><span>学无止境</span><span>Learn</span></a></li>
          <li><a href="/slowlife/"><span>慢生活</span><span>Life</span></a></li>
          <li><a href="/liuyan/"><span>留言</span><span>Saying</span></a></li>
          <li><a href="/admin" target="_blank"><span>管理</span><span>Admin</span></a></li>
        </ul>
        <form class="navbar-form navbar-right" method='get' action="/search/" id="search">
          <div class="form-group">
            <input type="text" name="q" class="form-control" placeholder="搜索文章">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>


<article>
  <div class="container center_content">
    <div class="row" data-scroll-reveal="enter left and move 20px over 1s">
      <div class="col-xs-4">
        <a href="#"><img src="/static/images/anPic1.jpg" class="img-responsive" alt="Responsive image"></a>
        <p>不管前方的路有多苦，只要走的方向正确，不管多么崎岖不平，都比站在原地更接近幸福。</p>
        <h3 class="text-right">——宫崎骏《千与千寻》</h3>
      </div>
      <div class="col-xs-4">
        <a href="#"><img src="/static/images/anPic2.jpg" class="img-responsive" alt="Responsive image"></a>
        <div class="center_animition">
          <div class="panghu_moving"><img src="/static/images/zz.gif" class="img-responsive"></div>
          <ul class="controlbox">
            <li class="glyphicon glyphicon-play"></li>
            <li class="glyphicon glyphicon-pause"></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-4">
        <a href="#"><img src="/static/images/anPic3.jpg" class="img-responsive" alt="Responsive image"></a>
        <p>我不知道离别的滋味是这样凄凉，我不知道说声再见要这么坚强。</p>
        <h3 class="text-right">——宫崎骏《千与千寻》</h3>
      </div>
    </div>

    <ul class="tmtimeline">
      <div id="changeBox">
        <span class="glyphicon glyphicon-indent-left"></span>
      </div>
      <div class="container col-xs-12" id="pie"></div>
    </ul>

    <div class="pages">
      <a href="javascript:;">&lt;</a>
      <a href="javascript:;">&gt;</a>
    </div>
  </div>
</article>

<a href="javascript:;" class="totop" title="回到顶部"></a>
<div class="container footer_href">
  <div class="row">
    <div class="col-sm-7 col-sm-offset-3 col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-sm-3 col-xs-3">
          <h4>关于我</h4>
          <ul>
            <li><a href="https://github.com/shihao1010" target="_blank">github</a></li>
            <li><a href="https://blog.csdn.net/duke10" target="_blank">csdn</a></li>
          </ul>
        </div>
        <div class="col-sm-3 col-xs-3">
          <h4>CDN资源库</h4>
          <ul>
            <li><a href="https://www.bootcdn.cn/" target="_blank">bootcdn</a></li>
            <li><a href="http://staticfile.org/" target="_blank">Staticfile CDN</a></li>
          </ul>
        </div>
        <div class="col-sm-3 col-xs-3">
          <h4>常用教程</h4>
          <ul>
            <li><a href="http://www.w3school.com.cn/" target="_blank">w3school</a></li>
            <li><a href="http://www.runoob.com/" target="_blank">菜鸟教程</a></li>
          </ul>
        </div>
        <div class="col-sm-3 col-xs-3">
          <h4>云服务器</h4>
          <ul>
            <li><a href="https://www.aliyun.com/product/ecs?spm=5176.10695662.744563.1.4b46700c6yzYOh" target="_blank">阿里云</a></li>
            <li><a href="https://cloud.tencent.com/product/cvm" target="_blank">腾讯云</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer11">
  <a href='http://www.miibeian.gov.cn/' target="_blank">豫ICP备18027620号 | </a>
  <span id="sitetime"></span>     <!--网站运行时间统计-->
  <a href="https://tongji.baidu.com/web/welcome/ico?s=c05eafcbb90cbad1f9950cd57287c2a2" target="_blank"> | 网站统计</a>
  <script language=javascript>
    function siteTime(){
      window.setTimeout("siteTime()", 1000);
      var seconds = 1000;
      var minutes = seconds * 60;
      var hours = minutes * 60;
      var days = hours * 24;
      var years = days * 365;
      var today = new Date();
      var todayYear = today.getFullYear();
      var todayMonth = today.getMonth()+1;
      var todayDate = today.getDate();
      var todayHour = today.getHours();
      var todayMinute = today.getMinutes();
      var todaySecond = today.getSeconds();
      /* Date.UTC() -- 返回date对象距世界标准时间(UTC)1970年1月1日午夜之间的毫秒数(时间戳)
      year - 作为date对象的年份，为4位年份值
      month - 0-11之间的整数，做为date对象的月份
      day - 1-31之间的整数，做为date对象的天数
      hours - 0(午夜24点)-23之间的整数，做为date对象的小时数
      minutes - 0-59之间的整数，做为date对象的分钟数
      seconds - 0-59之间的整数，做为date对象的秒数
      microseconds - 0-999之间的整数，做为date对象的毫秒数 */
      var t1 = Date.UTC(2018,7,22,00,00,00); //北京时间2016-12-1 00:00:00
      var t2 = Date.UTC(todayYear,todayMonth,todayDate,todayHour,todayMinute,todaySecond);
      var diff = t2-t1;
      var diffYears = Math.floor(diff/years);
      var diffDays = Math.floor((diff/days)-diffYears*365);
      var diffHours = Math.floor((diff-(diffYears*365+diffDays)*days)/hours);
      var diffMinutes = Math.floor((diff-(diffYears*365+diffDays)*days-diffHours*hours)/minutes);
      var diffSeconds = Math.floor((diff-(diffYears*365+diffDays)*days-diffHours*hours-diffMinutes*minutes)/seconds);
      document.getElementById("sitetime").innerHTML="博客已运行"+diffYears+" 年 "+diffDays+" 天 "+diffHours+" 小时 "+diffMinutes+" 分钟 "+diffSeconds+" 秒";
    }
    siteTime();
  </script>
</footer>

<script src="https://cdn.staticfile.org/scrollReveal.js/0.1.2/scrollReveal.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/twitter-bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="/static/js/bootstrap.min.js"></script> -->
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

<!-- 百度自动推送 -->
<script>
  (function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
      bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
  })();
</script>

<!-- 百度统计 -->
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?c05eafcbb90cbad1f9950cd57287c2a2";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>

<!--DaoVoice:调用下面的 JavaScript 与匿名访客沟通-->
<script>
  daovoice('init', {
    app_id: "15a4e0ff"
  });
  daovoice('update');
</script>


<script type="text/javascript" src="/static/js/index.js"></script>
<script>
  $(function () {
    $.ajaxSetup({cache:false});
    go_to_page(1);
    //选择所有的页码绑定点击事件
    function page_click(){
      $('.pages a:not(":first,:last")').click(function () {
        page_id=$(this).text();     //page_id为接下来要请求的页码号
        go_to_page(page_id);
      });
    }
    function go_to_page(page_id) {      //ajax刷新当前页面文章   page_id为接下来要请求的页码号
      $.ajax({
        type:'GET',
        data:{'page_id':page_id},
        url:'/pageAjax',
        datatype:JSON,      //希望返回Json格式的数据
        success:function (data) {
          f1(data);     //处理返回后的数据
        },
        error:function () {
          console.log('ajax刷新分页数据失败！');
        }
      })
    }

    function f1(data) {   //处理返回后的数据    data为字符串型
      data = $.parseJSON(data);    //将字符串型转化为object
      //刷新文章
      $('.tmtimeline li').remove();
      for (var i = 0; i < data.result.length; i++) {

        $('.tmtimeline').append('<li><div class="row"><div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"> <time class="tmtime"> <span>'
          +data.result[i][0]+
          '</span> <span>'
          +data.result[i][1]+
          '</span> </time> <div class="tmicon"></div> </div> <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" data-scroll-reveal="enter right and move 50px over 1.2s"> <div class="tmlabel"> <h3>'
          +data.result[i][2]+
          '</h3> <div class="row"> <img src="/media/'
          +data.result[i][3]+
          '" class="col-xs-4 img-responsive blogpic"> <div class="col-xs-8">'
          +data.result[i][4]+
          '...</div> </div> <a href="/detail/'
          +data.result[i][5]+
          '/" class="readmore">阅读全文&gt;&gt;</a> </div> </div> </div> </li>'
        );
      }
      //刷新页码
      $('.pages a:not(":first,:last")').remove();
      if(parseInt(data.num_pages) <= 5) {     //如果总页码数小于等于5
        for(var i=1;i<=parseInt(data.num_pages);i++){
          $('.pages a:last').before('<a href="javascript:;">' +i+ '</a>');
        }
      }else if(parseInt(data.page_id)<=3){        //如果当前页码数小于等于3,显示前五页
        for(var i=1;i<=5;i++){
          $('.pages a:last').before('<a href="javascript:;">' +i+ '</a>');
        }
      }else if(parseInt(data.page_id)>parseInt(data.num_pages)-2){    //当前页后面不足两页时
        for(var i=0;i<5;i++){
          $('.pages a:first').after('<a href="javascript:;">' +(parseInt(data.num_pages)-i)+ '</a>');
        }
      }else{
        for(var i=-2;i<=2;i++){
          $('.pages a:last').before('<a href="javascript:;">' +(parseInt(data.page_id)+i)+ '</a>');
        }
      }

      $('.pages a:not(":first,:last")').each(function () {    //为当前页加上active
        if($(this).text()==data.page_id)
          $(this).addClass('active');
      });

      page_click();   //为刷新后的页码绑定点击事件
      $('.pages a:first').unbind("click").click(function () {
        if(parseInt(data.page_id)<=1)
        {
          alert('已经是第一页');
        }
        else
        {
          go_to_page(parseInt(data.page_id)-1);
        }
      });
      $('.pages a:last').unbind("click").click(function () {
        if(parseInt(data.page_id)>=parseInt(data.num_pages))
          alert('已经是最后一页');
        else
          go_to_page(parseInt(data.page_id)+1);
      });
      scrollReveal.init();    //使用js动态写入的html,必须init初始化才能正常使用scrollReveal动画效果
    }
  })
</script>

<script src="https://cdn.staticfile.org/echarts/4.1.0.rc2/echarts-en.common.min.js"></script>
<script>
  // document.write("<scr" + "ipt src=\"/static/js/echarts.common.min.js\"></scr" + "ipt>");
  //点击切换饼图
  $(function () {
    setTimeout(Mychart,1000);
    function  Mychart() {
      // 绘制图表。
      var mychart = echarts.init(document.getElementById('pie'));
      var option = ({         //图表样式
        title: {
          text: '文章统计',
          subtext:'请点击',
          x: 'center'
        },
        tooltip: {
          trigger: 'item',
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
          orient: 'vertical',
          left: 'left',
          itemWidth:80,
          data: ['学无止境','慢生活']
        },
        series : [{
          name: '分类占比',
          type: 'pie',
          radius : '55%',
          center: ['50%', '45%'],
          data:[]
        }]
      });
      lifeOrStudy();      //刷新一级图表的数据
      function lifeOrStudy(){
        mychart.setOption(option);     //应用图表样式
        $.get('chartInfo',function (data) {
          data=$.parseJSON(data);
          list=[];
          var obj={value:data.studyCount,name:'学无止境'};
          list.push(obj);
          obj={value:data.lifeCount,name:'慢生活'};
          list.push(obj);
          mychart.setOption({
            series : [{
              data:list,
            }]
          })
        });
      }
      mychart.on('click',function (params) {      //一级图表点击事件
        if (params.name=='慢生活' || params.name=='学无止境')
        {
          $.get('chartInfo',{'name':params.name},function (data) {

            data = $.parseJSON(data);    //将字符串型转化为object
            //处理数据
            var aList=[];      //图表里面legend的data数据
            var aList2=[];     //图标里面series的data数据
            for(var i=0; i<data.result.length; i++){
              aList.push(data.result[i][1]);
              var obj1={value:data.result[i][0],name:data.result[i][1],id:data.result[i][2]};
              aList2.push(obj1);
            }
            mychart.setOption({
              title: {
                text: data.name,
                subtext:'右键返回上级',
              },
              legend: {
                data: aList,
              },
              series : [{
                name: '分类占比',
                data:aList2,
              }]
            })
          });
        }else{
          window.location.href='/learn/'+params.data.id+'/1/';
        }
      });

      //阻止浏览器默认右键点击事件
      $("#pie").bind("contextmenu", function(){
        return false;
      });

      //监听右键点击事件
      $('#pie').mousedown(function (e) {
        if(e.which==3){
          lifeOrStudy();
          return false;
        }
      });

      $('#changeBox').click(function () {
        if ($('#changeBox').css('right') == '0px') {
          $('#changeBox').css({right: '-110%'});
          $('#changeBox span').removeClass('glyphicon-indent-left').addClass('glyphicon-indent-right');
          $('.tmtimeline').css({left: '-110%'});
          $('.pages').hide();
        }
        else {
          lifeOrStudy();
          $('#changeBox').css({right: 0});
          $('#changeBox span').removeClass('glyphicon-indent-right').addClass('glyphicon-indent-left');
          $('.tmtimeline').css({left: 0});
          $('.pages').show();
        }
      });
    }
  });

</script>


<script>
  $(function () {
    $('#search button').click(function () {
      if(!$('#search input').val()){      //如果没有输入值的话
        alert('必须输入关键字才能搜索！！！');
        return false;
      }
      $('form').submit();
    });

    //根据屏幕滚动显示切换饼图的按钮    和上升到顶部的按钮
    $(window).scroll(function() {
      var nowTop = $(document).scrollTop();

      if (nowTop>400) {
        $('.totop').fadeIn(1000);
      }
      else{
        $('.totop').fadeOut(1000);
      }
    });

    $('.totop').click(function(){
      //animate不只可以加css属性
      //html和body都写是为了兼容性
      $('html,body').animate({scrollTop:0});
    });
  })
</script>

<!--创建一个scrollReveal对象  必须加上-->
<script>
  if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
    (function(){
      window.scrollReveal = new scrollReveal({reset:true});
    })();
  }
</script>

</body>
</html>
